$green-color: #13322B;
$wine-color: #a42145;
$golden-color: rgb(188, 149, 92);
$beige-color:rgb(218, 198, 164);
$lightgreen-color: rgb(188, 212, 199);
$lightbeige-color:rgb(246, 242, 235);
$lightwine-color: rgb(172, 115, 131);

$green-alpha-color: rgba(19, 46, 40, 0.9);