#noticias .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#noticias h3, h5{
    text-align: center;
}

#noticias article{
    margin: 15px;
}

#noticias img{
    width: 100%;
    max-width: 280px;
}